**/work*
**/wally_*.log

.nfs*

__pycache__/
.vscode/

#vsim work files to ignore
transcript
vsim.wlf
wally-pipelined/wlft*
wlft*
/imperas-riscv-tests/FunctionRadix_32.addr
/imperas-riscv-tests/FunctionRadix_64.addr
/imperas-riscv-tests/FunctionRadix.addr
/imperas-riscv-tests/ProgramMap.txt
/imperas-riscv-tests/logs
/wally-pipelined/linux-testgen/qemu_output.txt
/wally-pipelined/linux-testgen/qemu_in_gdb_format.txt
*.o
*.d
testsBP/*/*/*.elf*
testsBP/*/OBJ/*
testsBP/*/*.a
wally-pipelined/linux-testgen/linux-testvectors/*
!wally-pipelined/linux-testgen/linux-testvectors/tvCopierTemplate.py
!wally-pipelined/linux-testgen/linux-testvectors/tvLinker.sh
