adapter driver ftdi

adapter usb location 3-2.4

ftdi vid_pid 0x0403 0x6010
ftdi channel 0

ftdi layout_init 0x0030 0x003b

transport select jtag
adapter speed 1000

# riscv set_ir idcode 0x01
# riscv set_ir dtmcs 0x10
# riscv set_ir dmi 0x11

set _CHIPNAME core
jtag newtap $_CHIPNAME tap -irlen 5 -expected-id 0x1002ac05

set _TARGETNAME $_CHIPNAME.tap
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

# puts "Recording log"
# $_CHIPNAME.tap riscv set_ir idcode 0x01
# $_CHIPNAME.tap riscv set_ir dtmcs 0x10
# $_CHIPNAME.tap riscv set_ir dmi 0x11

log_output openocd.log
debug_level 3

init

#jtag reset
#jtag arp_init

poll off

# Utility functions --------------------------------------------------

# Run a certain number of steps and track dpc
proc runsteps {num} {
    for {set i 0} {$i < $num} {incr i} {
        step
        echo [reg dpc]
    }
}

# OpenSBI contains ebreaks, so you have to reset this way if you don't
# want them to trigger after an OpenOCD init
proc reset_no_ebreak {} {
    reset halt
    core.tap configure -ebreak exception
    resume
}

# This doesn't work. Certain OpenSBI Structs in memory need to be
# cleared if we actually want a cold boot instead of a warm boot.
proc soft_reset {} {
    reset halt
    set FDT_ADDRESS [expr {0x8F000000}]
    core.tap configure -ebreak exception
    # Load argument registers with arguments necessary for jumping to
    # OpenSBI from ZSBL
    set_reg [list a0 $FDT_ADDRESS a1 0x00000000000010b6 dpc 0x0000000080000000]
    resume
}

# Reads a register and converts it's hexadecimal value into an
# integer value.
proc read_reg {register} {
    set regval [lindex [reg $register] 2]
    return [expr {$regval}]
}

proc clamp {value min max} {
    set ret [expr $value > $max ? $max : $value]
    return [expr $ret < $min ? $min : $value]
}

proc set_dcsr {field value} {
    set curr_dcsr [read_reg dcsr]
    set new_dcsr 0
    set shifted_value 0
    set mask 0
    switch $field {
        "cetrig" {
            set value [clamp $value 0 1]
            set pos 19
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "pelp" {
            set value [clamp $value 0 1]
            set pos 18
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "ebreakvs" {
            set value [clamp $value 0 1]
            set pos 17
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "ebreakvu" {
            set value [clamp $value 0 1]
            set pos 16
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "ebreakm" {
            set value [clamp $value 0 1]
            set pos 15
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "ebreaks" {
            set value [clamp $value 0 1]
            set pos 13
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "ebreaku" {
            set value [clamp $value 0 1]
            set pos 12
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "stepie" {
            set value [clamp $value 0 1]
            set pos 11
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "stopcount" {
            set value [clamp $value 0 1]
            set pos 10
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "stoptime" {
            set value [clamp $value 0 1]
            set pos 9
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "v" {
            set value [clamp $value 0 1]
            set pos 5
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "mprven" {
            set value [clamp $value 0 1]
            set pos 4
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "step" {
            set value [clamp $value 0 1]
            set pos 2
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        "prv" {
            set value [clamp $value 0 3]
            set pos 0
            set mask [expr {1 << $pos}]
            set shifted_value [expr {$value << $pos}]
        }

        default { echo "Unknown dcsr field $field"; return }
    }

    set new_dcsr [expr {$curr_dcsr & ~$mask}]
    set new_dcsr [expr {$new_dcsr | $shifted_value}]

    echo "Old DCSR: [format 0x%08x $curr_dcsr] → New DCSR: [format 0x%08x $new_dcsr] (setting $field=$value)"
    set_reg [list dcsr $new_dcsr]
}

# Tcl is awesome. I can iteratively define functions because
# everything is string based. Below, convenient functions for reading
# debug module registers are available.
set dm_registers {
    Data0       0x04
    Data1       0x05
    DMControl   0x10
    DMStatus    0x11
    AbstractCS  0x16
    Command     0x17
}

proc read_dm_reg {name address} {
    set value [riscv dmi_read $address]
    echo "$name: $value"
    puts "$name: $value"
}

foreach {name addr} $dm_registers {
    set proc_name "read_[string tolower $name]"
    proc $proc_name {} [list read_dm_reg $name $addr]
}

# Reset Halt Request stuff

proc set_rhq {} {
    set dmcontrol [riscv dmi_read 0x10]
    set setresethaltreq 3
    set dmcontrol [expr {$dmcontrol | (1 << $setresethaltreq)}]
    riscv dmi_write 0x10 $dmcontrol
}

proc clear_rhq {} {
    set setresethaltreq 3
    set clrresethaltreq 2
    set dmcontrol [riscv dmi_read 0x10]
    set dmcontrol [expr {$dmcontrol & ~(1 << $setresethaltreq) | (1 << $clrresethaltreq)}]
    riscv dmi_write 0x10 $dmcontrol
}

proc resethaltreq {} {
    set_rhq
    reset
    clear_rhq
}
